<!doctype html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Название лекции</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="../../css/bundle.min.css">
	<script src="../../js/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
	<!--[if lt IE 9]>
		<script src="../../js/html5shiv.min.js"></script>
	<![endif]-->
</head>

<body>
	<div class="reveal">
		<div class="slides">
			<section>
				<section>
					<h1>Название лекции</h1>
					<h3>Администрирование информационных систем</h3>
					<p>
						<small>Сурцов Владимир Владимирович</small>
					</p>
					<a href="https://kisa47.github.io/admin_lections/" style="display: inline-block;" id="qr-container"></a>
				</section>
				<section>
					<h2>Содержание лекции</h2>
					<nav id="presentable-toc" class="table-content"></nav>
				</section>
			</section>
            <!-- Code Block-->
			<section>
				<pre><code class="bash">pwd > file #  перенапрвляет stdout в файл с перезаписью</code></pre>
			</section>
            <!-- Содержимое лекции -->

			<section>
				<h2 class="header-hide">Спасибо за внимание</h2>
			</section>
		</div>
	</div>

	<aside id="presentable-icon" class="revealjs">
		<a title="Содержание лекции" href="#/0/1">
			<i class="fa fa-list-ul fa-2x"></i>
		</a>
	</aside>
	<script src="../../js/bundle.min.js"></script>
	<script src="../../js/qrcode.min.js"></script>
	<script> 
		const myLink = "https://kisa47.github.io/admin_lections/";
		new QRCode(document.getElementById("qr-container"), {
			text: myLink, width: 256,
			height: 256,
			colorDark : "#000000",
			colorLight : "#ffffff",
			correctLevel : QRCode.CorrectLevel.H 
		});
	</script>
</body>

</html>